build/
debug/
.DS_Store
vehicle/OVMS.X/dist/default/
vehicle/OVMS.X/nbproject/configurations.xml
apps/iOS/Open Vehicle.xcodeproj/project.xcworkspace/xcuserdata/
apps/iOS/Open Vehicle.xcodeproj/xcuserdata/
