build/
debug/
.DS_Store
vehicle/OVMS.X/dist/
vehicle/OVMS.X/nbproject/configurations.xml
vehicle/OVMS.X/nbproject/Makefile-genesis.properties
apps/iOS/Open Vehicle.xcodeproj/project.xcworkspace/xcuserdata/
apps/iOS/Open Vehicle.xcodeproj/xcuserdata/
