<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
     <key>CFBundleName</key>
     <string>Core Plot (iOS)</string>
     <key>CFBundleIdentifier</key>
     <string>com.CorePlotTouch.Framework.docset</string>
     <key>DocSetFeedName</key>
     <string>Core Plot (iOS)</string>
     <key>DocSetPublisherIdentifier</key>
     <string>com.CorePlotTouch.documentation</string>
     <key>DocSetPublisherName</key>
     <string>Core Plot</string>
</dict>
</plist>
