<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.openvehicles.OVMS"
    android:versionCode="1"
    android:versionName="1.3" >

    <uses-sdk android:minSdkVersion="10" />

    <!-- Only this application can receive the messages and registration result -->
    <permission
        android:name="com.openvehicles.OVMS.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.openvehicles.OVMS.permission.C2D_MESSAGE" />

    <!-- This app has permission to register and receive message -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    
    <application
        android:icon="@drawable/car_roadster_brilliantyellow72x72"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <uses-library android:name="com.google.android.maps" />

        <activity
            android:label="@string/app_name"
            android:name=".OVMSActivity"
            android:launchMode="singleTop" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TabInfo" >
        </activity>
        <activity android:name=".TabMap" >
        </activity>
        <activity android:name=".TabCars" >
        </activity>
        <activity android:name=".TabCar" >
        </activity>
        <activity android:name=".CarEditor" >
        </activity>
        <activity android:name=".TabNotifications" >
        </activity>
            
        <!-- Only C2DM servers can send messages for the app. If permission is not set - any other app can generate it -->
        <receiver
            android:name=".C2DMReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >

            <!-- Receive the actual message -->
            <intent-filter >
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.openvehicles.OVMS" />
            </intent-filter>
            <!-- Receive the registration id -->
            <intent-filter >
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.openvehicles.OVMS" />
            </intent-filter>
        </receiver>
    </application>

</manifest>