<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>OVMS Server</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>tmc.openvehicles.com</string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>ovmsServer</string>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>Title</key>
			<string>Server</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>6867</string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>ovmsPort</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>Title</key>
			<string>Port</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Share Vehicle Colour</string>
			<key>Key</key>
			<string>ovmsShareColour</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Title</key>
			<string>www.openvehicles.com</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string></string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>ovmsUser</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Title</key>
			<string>Username</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>www.openvehicles.com</string>
			<key>IsSecure</key>
			<true/>
			<key>Key</key>
			<string>ovmsPassword</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Title</key>
			<string>Password</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Metrics</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Temperatures</string>
			<key>Key</key>
			<string>ovmsTemperatures</string>
			<key>DefaultValue</key>
			<string>-</string>
			<key>Titles</key>
			<array>
				<string>Car Chooses</string>
				<string>Celcius</string>
				<string>Fahrenheit</string>
			</array>
			<key>Values</key>
			<array>
				<string>-</string>
				<string>K</string>
				<string>M</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Distances</string>
			<key>Key</key>
			<string>ovmsDistances</string>
			<key>DefaultValue</key>
			<string>-</string>
			<key>Titles</key>
			<array>
				<string>Car Chooses</string>
				<string>Kilometers</string>
				<string>Miles</string>
			</array>
			<key>Values</key>
			<array>
				<string>-</string>
				<string>K</string>
				<string>M</string>
			</array>
		</dict>
	</array>
	<key>Title</key>
	<string>Open Vehicles</string>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
